body {
  font: var(--font-base);

  min-height: 100vh;
}

body, #root {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1 1 auto;
}



.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}



.page-main {
  margin: 20px 0;
  flex: 1 1 auto;
}

.page-header {
  padding: 16px 0;
  background: var(--color-primary);
}

.page-header__layout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-header__logo {
  margin-right: auto;
  color: var(--color-white);
  font-size: var(--fz-large);
  line-height: var(--lh-large);
  text-decoration: none;
  transition: var(--trs-base);
}

.page-header__nav {
  margin-left: 20px;
}

@media (any-hover: hover) {
  .page-header__logo:hover {
    color: var(--color-white);
    opacity: .7;
  }
}

.top-nav {
  display: flex;
}

.top-nav__link {
  margin-right: 20px;
  color: var(--color-white);
  text-decoration: none;
  transition: var(--trs-base);
}

.top-nav__user {
  margin-right: 60px;
  color: var(--color-white);
  text-decoration: none;
  font-size: 26px;
}

.top-nav__link:last-child {
  margin-right: 0;
}

@media (any-hover: hover) {
  .top-nav__link:hover {
    color: var(--color-white);
    opacity: .7;
  }
}


/* 
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

img, iframe {
  max-width: 100%;
}

iframe {
  width: 600px;
  height: 400px;
}

.btn-search {
  position: absolute;
  top: 0;
  right: 0;
} */

.page-footer {
  flex: 0 0 auto;
  padding: 20px 0;
  background: var(--color-black);
  color: var(--color-white);
}

.page-footer__layout {
  display: flex;
}

.page-footer__copyright {
  flex: 0 0 auto;
  color: var(--color-grey);
  margin-right: 20px;
}

.page-footer__nav {
  margin-left: auto;
}

.footer-nav__link {
  margin-right: 20px;

  color: var(--color-grey);
  text-decoration: none;
  transition: var(--trs-base);
}

.footer-nav__link:last-child {
  margin-right: 0;
}

@media (any-hover: hover) {
  .footer-nav__link:hover {
    color: var(--color-white);
  }
}

.footer-nav__link:active {
  color: var(--color-white);
}



/* form */
.form--sm {
  max-width: 600px;
}

.form__field,
.form__error {
  margin: 20px 0;
}

.form__field:last-child,
.form__error:last-child {
  margin-bottom: 0;
}

.form__field:first-child,
.form__error:first-child {
  margin-top: 0;
}

.form__error {
  color: var(--color-error);
  font-size: var(--fz-small);
  line-height: var(--lh-small);
}

.form__actions {
  margin-top: 20px;
}

.form__actions:first-child {
  margin-top: 0px;
}



/* field */
.field__label {
  display: block;
  font-size: var(--fz-small);
  line-height: var(--lh-small);
  font-weight: var(--fw-bold);
  margin-bottom: 4px;
}



/* field input */
.field-input {
  --height: 40px;
  display: block;
  width: 100%;
  font: var(--font-base);
  padding: calc((var(--height) - var(--lh-base)) / 2 - 1px) 16px;
  border: 1px solid var(--color-grey-light);
  border-radius: var(--border-radius-base);
  background: var(--color-white);
  outline: none;
}

@media (any-hover: hover) {
  .field-input:hover {
    border-color: var(--color-grey-dark);
  }
}

.field-input:focus {
  border-color: var(--color-black);
}